html, body {
  height: 100%;
  margin: 0;
  background-color: bisque;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: bisque;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: scroll;
  justify-content: center;
  align-items: center;
}